/* general */

* {
    box-sizing: border-box;
}

body {
	background-color: #c9d8ef;
	font-family: "Julius Sans One", sans-serif;
	font-size: 16px;
}

.container {
	width: 70%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

h1 {
	margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 1.5em;
}

h3 {
	margin-top: 10px;
    margin-bottom: 20px;
}

.link {
	text-decoration: none;
}

/* decoration */

.rounded {
	border-radius: 5px;
}

.shadow {
	box-shadow: 2px 2px 8px #999;
}

/* Header */

.logo {
	width: 150px;
}

.title {
	padding: 2px;
	text-align: right;
}

/* navigation */

.nav {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.nav-list {
	list-style: none;
    padding: 2px 0 2px 5px;
	margin: 0;
	width: 100%;
	text-align: center;
}

.nav-item {
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	text-align: center;
	padding: 10px;
	padding-bottom: 2px;
}

.nav-link {
	line-height: 5px;
	color: #616161;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 8px 10px 4px 10px;
}

.nav-link:hover {
	color: #212121;
	background-color: #edf1f8;
}

/* top */

.top-image {
	width: 100%;
	height: auto;
	text-align: center;
}

/* works */

.work-area-container {
	text-align: center;
}

.work-image-area {
	margin: 6px;
}

.work-image {
	border: 1px;
	border-style: outset;
	border-color: #dce5f7;
	width: 100%;
	height: auto;
}

.work-image:hover {
	border: none;
}

.work-title {
	font-size: 18px;
	font-weight: bold;
}

.work-info {
	font-size: 14px;
}

.work-link {
	width: 100%;
}

.work-link:hover {
	text-decoration: underline;
	color: #212121;
}

/* about me */

.text-area {
    padding: 35px 25px 35px 25px;
	background-color: #d7e1ef;
	margin-left: auto;
	margin-right: auto;
}

.about-me-text {
	text-align: justify;
	text-indent: 2em;
	line-height: 1.3em;
	font-family: Roboto, sans-serif;
	font-size: 18px;
}

/* contact */

.contact-area, 
fieldset, 
input[type=text], 
input[type=email], 
textarea {
	width: 100%;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
}

.message-field {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 50px;
}

.label {
	padding-top: 4px;
}

input[type=text], 
input[type=email] {
	height: 30px;
	padding: 3px;
}

textarea {
	height: 100px;
	resize: vertical;
	font-family: Roboto, sans-serif;
	padding: 3px;
}

.submit {
	text-align: center;
}

.go-top {
	width: 100%;
	position: fixed;
	bottom: 5%;
	right: 5%;
	opacity: 0.8;
	text-align: right;
	font-size: 14px;
}

.go-top-link {
	color: #303b4f;
	background-color: #edf1f8;
	padding: 2px;
}

.go-top-link:visited {
	color: #303b4f;
}

/* footer */

footer {
	margin-top: 80px;
	padding-top: 10px;
	border-top: 1px solid #616161;
}

.sns {
	text-align: center;
}

.fa {
	padding-right: 20px;
	padding-left: 20px;
}

.credit {
	font-size: 5px;
	text-align: right;
	margin-bottom: 20px;
}

/* grid */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}